.favorite-btn {
    background: transparent;
    border: none;
    cursor: pointer;
}

/* Cœur vide */
.favorite-btn.not-favorited i.bi-heart {
    color: white !important;
}

/* Cœur rempli */
.favorite-btn.favorited i.bi-heart {
    color: red !important;
}
